<li>
  <a href="#photo/new">
    <button>Upload Photo</button>
  </a>
</li>

<li>
  <a href="#user/<%= CURRENTUSER.id %>" >
    <button>Your Profile</button>
  </a>
</li>

<li>
  <a href="#">
    <button>All Photos</button>
  </a>
</li>
