<div class="session-window">
  <h1>Sign In</h1>

  <form action="<%= session_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <div class="form-group">
      <label for="user_name">Username</label>
      <input type="text" name="session[username]" id="user_name">
    </div>

    <div class="form-group">
      <label for="user_password">Password</label>
      <input type="password" name="session[password]" id="user_password">
    </div>

    <input type="submit" value="Sign In" class="btn btn-default">
  </form>

  <%= link_to "Create New User", new_user_url %>
</div>

<div class="session-photos">
  <% @photos.each do |photo| %>
    <img src="<%= photo.thumb_url %>"/>
  <% end %>
</div>

<script type="text/javascript">
  var windowHeight = $(window).height();
  $('.session-photos').css('max-height', windowHeight)
</script>
