<div class="fullscreen"></div>

<div class="pop-window">
  <a class="close-window">&times;</a>
  <div class="pop-content"></div>
</div>

<div class="main-nav"></div>

<div class="root"></div>

<script type="text/javascript">
  var CURRENTUSER = { id: <%= current_user.id %>, username: '<%= current_user.username %>' };

  $(function () {
    var $grid = $('#session-photos').imagesLoaded(function () {
      $grid.masonry({
        itemSelector: '.photo-item',
        percentPosition: true,
        columnWidth: '.photo-sizer'
      });
    });
  });
</script>
