<div class="fullscreen">
  <div class="window">
    <button type="button" class="close-window">Close</button>
    <div class="content"></div>
  </div>
</div>

<nav>
  <ul class="main-nav">
    <% if current_user %>
      <li>
        <%= button_to("Sign Out", session_url, method: :delete) %>
      </li>
    <% end %>
  <img src="<%= asset_path('logo.png') %>" class="logo" />
  </ul>
</nav>

<div class="root"></div>

<!-- <img src="<%= asset_path('logo.png') %>" class="picture" /> -->
<!-- <script type="text/javascript">
  $(function () {
    $('.picture').css('top', '50%').css('width', '300px');
  });
</script> -->
