<img src="<%= asset_path('logo.png') %>" class="picture" />

<div class="root"></div>

<script type="text/javascript">
  $(function () {
    $('.picture').css('top', '50%').css('width', '300px');
  });
</script>
