<div class="fullscreen"></div>

<div class="pop-window">
  <a class="close-window">&times;</a>
  <div class="pop-content"></div>
</div>

<div class="main-nav"></div>

<div class="root"></div>

<script type="text/javascript">
  var CURRENTUSER = { id: <%= current_user.id %>, username: '<%= current_user.username %>' };
</script>

<!-- <img src="<%= asset_path('logo.png') %>" class="picture" /> -->
<!-- <script type="text/javascript">
  $(function () {
    $('.picture').css('top', '50%').css('width', '300px');
  });
</script> -->
