<div class="fullscreen"></div>

<div class="pop-window">
  <a class="close-window">&times;</a>
  <div class="pop-content"></div>
</div>

<div class="main-nav"></div>

<div class="root"></div>

<script type="text/javascript">
  <% if current_user %>
    var CURRENTUSER = { id: <%= current_user.id %>, username: '<%= current_user.username %>' };
  <% end %>
</script>
