<form class="col-xs-12 form-horizontal">
  <div class="form-group">
    <div class="col-xs-12">
    <i class="fa fa-comment inner-fa"></i>
      <textarea class="photo-comment-field form-control" rows="6" style="resize:none" placeholder="Leave Comment"></textarea>

      <button type="button" class="submit-comment btn btn-primary btn-block"><i class="fa fa-send-o"></i></button>
    </div>
  </div>
</form>
