<label>
Title
<input type="text" name="photo[title]" value="<%= photo.escape('title') %>">
</label>

<label>
Description
<textarea name="photo[description]"><%= photo.escape('description') %></textarea>
</label>

<input type="submit" class="photo-submit">
