<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <form class="sort-form" action="index.html" method="post">
      <div class="col-xs-4 col-sm-offset-1">
        <select class="form-control sort-type">
          <option class="id">time posted</option>
          <option class="num_likes">number of likes</option>
          <option class="num_comments">number of comments</option>
        </select>
      </div>

      <div class="col-xs-4 col-sm-2">
        <!-- <div class="btn-group-vertical" role="group" aria-label="sort-order">
          <button type="button" class="btn btn-default">ascending</button>
          <button type="button" class="btn btn-default">descending</button>
        </div> -->
        <div class="radio-center">
          <label class="radio">
            <input type="radio" name="sort-order" id="sort-asc" value="ascending">ascending
          </label>
          <label class="radio">
            <input type="radio" name="sort-order" id="sort-des" value="descending">descending
          </label>
        </div>
      </div>

      <div class="col-xs-4">
        <button type="button" name="button" class="sort-submit btn btn-default">Sort</button>
      </div>
    </form>
  </div>
</div>

<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix"></div>
