<a href="javascript:void(0)" class="photo-thumb">
  <img src="<%= photo.escape('thumb_url') %>" alt="" />

  <div class="info-wrap">
    <h3 class="photo-title">
      <%= photo.escape('title') %>
    </h3>

    <% if (user.escape('username').length > 0) {%>
      <p class="photo-username">
        Submitted By: <%= user.escape('username') %>
      </p>
    <% }; %>
  </div>
</a>
