<a href="javascript:void(0)" class="photo-show">
  <img src="<%= photo.escape('thumb_url') %>" alt="" />
</a>

<br>

<h2>
  <%= photo.escape('title') %>
</h2>

<br>
<% if (user) {%>
  Submitted By:
  <a href="#user/<%= user.get('id') %>">
    <%= user.escape('username') %>
  </a>
<% }; %>
