<a href="javascript:void(0)" class="photo-thumb">
  <img src="<%= photo.escape('thumb_url') %>" alt="" />

  <div class="info-wrap">
    <% if (photo.escape('title').length > 0) { %>
      <h3 class="photo-title">
        <%= photo.escape('title') %>
      </h3>
    <% } %>

    <p class="photo-username">
    <% if (user.escape('username').length > 0 && CURRENTUSER.id != user.get('id')) {%>
      Uploaded By: <%= user.escape('username') %>
    <% } else { %>
      Your Upload
    <% }; %>
    </p>
  </div>
</a>
