<a href="javascript:void(0)" class="photo-thumb">
  <img src="<%= photo.escape('thumb_url') %>" alt="" />

  <div class="info-wrap">
    <div class="photo-info">
      <p class="photo-time">
        posted <%= photo.get('created') %> ago
      </p>
    </div>

    <div class="count-info">
      <div class="photo-counts">
        <p><i class="fa fa-comments"></i><%= photo.escape('Comments') %></p>
      </div>

      <div class="photo-counts">
        <p><i class="fa fa-heart"></i><%= photo.escape('Likes') %></p>
      </div>
    </div>
  </div>
</a>
