<div id="likes-carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox"></div>

  <a class="left carousel-control" href="#likes-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#likes-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<script type="text/javascript">
  $(function () {
    var height = $(window).height() - $('.carousel-inner').offset().top;
    $('.carousel-inner').css('height', height + 'px');
  });
</script>
