<div class="row">
  <div class="user-info">
    <% if (user.get('portrait_url')) { %>
      <img src="<%= user.get('portrait_url') %>" class="portrait img-circle">
    <% } else { %>
      <img src="/assets/no-portrait.png" class="portrait img-circle">
    <% } %>
    <h1 class="username">
      <%= user.escape('username') %>
    </h1>
    <p>
      member since <span><%= user.escape('member_since') %></span>
    </p>
  </div>
</div>

<div class="user-main row">
  <ul class="user-tabs nav nav-tabs nav-justified">
    <li role="presentation" class="photos">
      <a id="photos-tab" href="#user-photos" class="user-tab" aria-controls="user-photos" role="tab" data-toggle="tab"><i class="fa fa-picture-o"></i>Pictures</a>
    </li>
    <li role="presentation" class="albums">
      <a href="#user-albums" class="user-tab" aria-controls="user-albums" role="tab" data-toggle="tab"><i class="fa fa-object-group"></i></i>Albums</a>
    </li>
    <li role="presentation" class="comments">
      <a href="#user-comments" class="user-tab" aria-controls="user-comments" role="tab" data-toggle="tab"><i class="fa fa-comments"></i>Comments</a>
    </li>
    <li role="presentation" class="votings">
      <a href="#user-votings" class="user-tab" aria-controls="user-votings" role="tab" data-toggle="tab"><i class="fa fa-heart"></i>Likes</a>
    </li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="user-photos"></div>

    <div role="tabpanel" class="tab-pane" id="user-albums"></div>

    <div role="tabpanel" class="tab-pane" id="user-comments"></div>

    <div role="tabpanel" class="tab-pane" id="user-votings"></div>
  </div>
<div>
