.album-build {
  .build-buttons {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform:    translateX(-50%);
    -ms-transform:     translateX(-50%);
    -o-transform:      translateX(-50%);
    transform:         translateX(-50%);
    z-index: 2;
    bottom: -60px;

    button {
      width: 100px;
      margin: 0 10px;
    }
  }

  #album-container {
    border: 7px dashed $dark-blue;
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    padding: 20px;

    div { float: right; }
  }

  h1 {
    text-align: center;
  }

  input {
    border: none;
    outline: none;
    padding: 0;
    background-color: $white;
    position: relative;
    resize: none;
  }

  .album-name {
    cursor: pointer;
    i {
      font-size: 14px;
      font-style: normal;
      text-decoration: underline;
    }
  }

  .photo-wrap {
    cursor: move;
    float: left;
    width: 140px;
    height: 130px;
    margin: 0;
    padding: 0;
  }

  .sortable-connect {
    height: 500px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    list-style: none;
    overflow: scroll;
  }
}
