$primary: #13548C;
$dark-blue: rgb(53, 63, 90);
$teal: #59b2a1;
$black: #333;
$gray: #666;
$mid-gray: #999;
$light-gray: #ccc;
$white: #f7f7f7;

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 @import "root";
 @import "photo_modal";
 @import "navbar";
 @import "session";
 @import "masonry";
 @import "user_show";
 @import "comment_index";
