.comment-index {
  margin-top: 20px;

    .comment-wrap { padding: 0; }

    .comment-created { float: right; }

    .delete-comment {
      width: 27px;
      height: 25px;
      padding: 0;
      margin-left: 10px;
    }

    p { width: 100%;
        overflow: auto; }

    span { font-style: italic; }
}
