#masonry-container {
	-webkit-perspective: 1300px;
	perspective: 1300px;

  .active {
  	-webkit-transform-style: preserve-3d;
  	transform-style: preserve-3d;
  	-webkit-transform-origin: 0% 0%;
  	transform-origin: 0% 0%;
  	-webkit-transform: rotateX(-80deg);
  	transform: rotateX(-80deg);
  	-webkit-animation: flip .8s ease-in-out forwards;
  	animation: flip .8s ease-in-out forwards;
  }

  @-webkit-keyframes flip {
  	0% { }
  	100% { -webkit-transform: rotateX(0deg); opacity: 1; }
  }

  @keyframes flip {
  	0% { }
  	100% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); opacity: 1; }
  }
}
