.photo-index {
  margin: 20px;

  .sort-form {
    margin-bottom: 20px;
    height: 60px;
    padding: 10px 25px;
    background-color: $teal;
    border: 1px solid darken($teal, 5%);
    border-radius: 40px;
    width: 337px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform:    translateX(-50%);
    -ms-transform:     translateX(-50%);
    -o-transform:      translateX(-50%);
    transform:         translateX(-50%);

      select {
        width: 160px;
        display: inline;
      }

      select, button {
        height: 40px;
      }

      .sort-buttons {
        height: 40px;
        margin: 0 15px;

        label {
          height: 50%;

          .fa {
            position: relative;
          }

          .fa-sort-asc {
            top: -3px;
          }

          .fa-sort-desc {
            top: -10px;
          }
      }
    }
  }

  #masonry-container {
    clear: both;
    z-index: 2;

    .pop-window { display: none; }

    .item-wrap { margin: 3px; }

    .photo-item {
      float: left;
      z-index: 13;
      -webkit-transition: all 3 ease;
         -moz-transition: all 3 ease;
           -o-transition: all 3 ease;
              transition: all 3 ease;

      img {
        display: block;
        max-width: 100%;
        padding: 3px;
      }
    }

    .photo-sizer, .photo-item { width: 100%; }

    @media screen and (min-width: 500px) {
      .photo-sizer, .photo-item { width: 50%; }
    }

    @media screen and (min-width: 750px) {
      .photo-sizer, .photo-item { width: 33.3333%; }
    }

    @media screen and (min-width: 1000px) {
      .photo-sizer, .photo-item { width: 25%; }
    }

    .photo-item:hover, .photo-item.hovered {
      img {
        -webkit-transition: all .3 ease;
           -moz-transition: all .3 ease;
             -o-transition: all .3 ease;
                transition: all .3 ease;
            -webkit-filter: blur(1px) brightness(50%) grayscale(100%);
                    filter: blur(1px) brightness(50%) grayscale(100%);
      }
      .info-wrap {
        display: block;
      }
    }

    .info-wrap {
      color: #e8e8e8;
      display: none;
      height: 100%;
      width: 100%;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform:    translateY(-50%);
      -ms-transform:     translateY(-50%);
      -o-transform:      translateY(-50%);
      transform:         translateY(-50%);
      position: absolute;
      z-index: 12;

      .photo-info {
        text-align: center;
        font-weight: 400;
        width: 100%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform:    translateY(-50%);
        -ms-transform:     translateY(-50%);
        -o-transform:      translateY(-50%);
        transform:         translateY(-50%);
        position: absolute;
        }

      .count-info {
        position: absolute;
        width: 100%;
        padding: 0 40px 20px 40px;
        height: 50px;
        bottom: 0;

        :nth-child(1) { float: left; }
        :nth-child(2) { float: right; }

        .photo-counts {
          font-weight: 400;

          .fa {
            font-size: 20px;
            margin-right: 5px;
          }
        }
      }
    }
  }

  .clearfix:before, .clearfix:after { content: ""; display: table; }
  .clearfix:after { clear: both; }
  .clearfix { zoom: 1; }
}
