.photo-index {
  margin: 20px;

  #masonry-container {
    clear: both;
    z-index: 2;

    .photo-item {
      float: left;
      z-index: 13;

      img {
        padding: 3px;
        display: block;
        max-width: 100%;
      }
    }

    .photo-sizer, .photo-item { width: 100%; }

    @media screen and (min-width: 500px) {
      .photo-sizer, .photo-item { width: 50%; }
    }

    @media screen and (min-width: 750px) {
      .photo-sizer, .photo-item { width: 33.3333%; }
    }

    @media screen and (min-width: 1000px) {
      .photo-sizer, .photo-item { width: 25%; }
    }

    .photo-item:hover {
      img {
        opacity: 0.3;
      }
      .info-wrap {
        display: block;
      }
    }

    .info-wrap {
      display: none;
      width: 100%;
      text-align: center;
      position: absolute;
      z-index: 12;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .clearfix:before, .clearfix:after { content: ""; display: table; }
  .clearfix:after { clear: both; }
  .clearfix { zoom: 1; }
}
