$bgDefault      : #13548C;
$bgHighlight    : #333333;
$colDefault     : #ffffff;
$colHighlight   : #cccccc;
$dropDown       : true;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li > a {
            color: $colDefault;
            &:hover,  &:focus {
              color: $colHighlight;
              background-color: $bgHighlight; }}
          .divider {
            background-color: $bgHighlight;}}}
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}

.navbar-default {
  z-index: 5;
  height: 50px;

  .logo {
    height: 40px;
    position: absolute;
    top: 5px;
  }

  .btn {
    padding: 5px;
  }

  .fa {
    font-size: 24px;
  }

  .dropdown-menu {
    padding: 0;

    .divider {
      margin: 0;
    }

    a {
      padding: 7px 10px;
    }

    .fa {
      float: left;
      margin-right: 10px;
      color: #fff;
    }

    a:hover {
      .fa {
        color: #ccc;
      }
    }

    .sign-out-button {
      color: #fff;
      font-size: 16px;
      display: block;
      padding: 6px 0 6px 10px;
      clear: both;
      font-weight: normal;
      line-height: 1.42857143;
      white-space: nowrap;
      text-align: left;
      width: 100%;
    }

    .sign-out-button:hover {
      color: #ccc;
      background-color: #333;
      text-decoration: none;
      .fa {
        color: #ccc;
      }
    }
  }
}
