$bgDefault      : $dark-blue;
$bgHighlight    : $black;
$colDefault     : $white;
$colHighlight   : $light-gray;
$dropDown       : true;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li > a {
            color: $colDefault;
            &:hover,  &:focus {
              color: $colHighlight;
              background-color: $bgHighlight; }}
          .divider {
            background-color: $colHighlight;}}}
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}

.navbar-default {
  z-index: 2000;
  height: 50px;

  .logo {
    height: 40px;
    position: absolute;
    top: 5px;
  }

  .navbar-collapse {
    background-color: $dark-blue;
  }

  .navbar-toggle {
    margin: 0;
  }

  button {
    width: 50px;
    height: 50px;
    background-color: $dark-blue;
    border: none;
   }

   li button { float: left; }

   li.dropdown { float: right}

  .fa { font-size: 24px;
        text-shadow: 2px 2px 0px rgba(150, 150, 150, 0.73);}

  a { text-decoration: none; }

  .dropdown-menu {
    padding: 0;
    border-top: 1px solid $light-gray;

    .divider { margin: 0; }

    a { padding: 7px 10px; }

    .fa {
      float: left;
      margin-right: 10px;
    }

    .sign-out-button {
      color: $white;
      font-size: 14px;
      display: block;
      padding: 6px 0 6px 10px;
      clear: both;
      font-weight: normal;
      line-height: 1.42857143;
      white-space: nowrap;
      text-align: left;
      width: 100%;
      height: 34px;
    }

    .sign-out-button:hover {
      color: $light-gray;
      background-color: $black;
      text-decoration: none;
      .fa {
        color: $light-gray;
      }
    }
  }
}
