.photo-item {
  float: left;
  width: 400px;
  margin: 5px;
  position: relative;
  z-index: -3;
}

.photo-thumb {
  position: absolute;
  z-index: -1;
}

.photo-wrap {
  width: auto;
  height: auto;
}

.photo-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.photo-thumb:hover {
  opacity: 0.5;
}
.photo-thumb:hover ~ .photo-shadow{
  -webkit-box-shadow: inset 0px 0px 100px 0px rgba(0,0,0,.8);
  -moz-box-shadow: inset 0px 0px 100px 0px rgba(0,0,0,.8);
  box-shadow: inset 0px 0px 100px 0px rgba(0,0,0,.8);
}
.photo-thumb:hover ~ .photo-title{
  display: block;
}
.photo-thumb:hover ~ .photo-username {
  display: block;
}

.photo-title {
  display: none;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: -2;
}

.photo-username {
  display: none;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: -2;
}
