.photo-modal {
    .pop-window {
      display: none;
      position: absolute;
      margin-top: 40px;
      z-index: 25;
      background-color: #e3e3e3;
      padding: 0;
      margin-bottom: 200px;

        .pop-content {
          padding: 10px;
          position: relative;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -moz-transform:    translateX(-50%);
          -ms-transform:     translateX(-50%);
          -o-transform:      translateX(-50%);
          transform:         translateX(-50%);

            .close-window {
              position: absolute;
              top: -30px;
              right: 0;
              font-size: 40px;
              font-weight: bold;
              line-height: 18px;
              color: $white;
              text-shadow: 0 0 2px $black;
              text-decoration: none;
              cursor: pointer;
              z-index: 30;
            }
            .close-window:hover {
              color: $light-gray;
              text-decoration: none;
            }

            .row { min-height: 40px; }

            img {
              position: relative;
              max-width: 100%;
              left: 50%;
              -webkit-transform: translateX(-50%);
              -moz-transform:    translateX(-50%);
              -ms-transform:     translateX(-50%);
              -o-transform:      translateX(-50%);
              transform:         translateX(-50%);
            }

            .fa-pencil { margin-top: -10px; }

            .can-edit { cursor: pointer; }

            .modal-info {
              margin: 10px 0;
              min-height: 120px;
              text-align: center;

              > div:nth-of-type(3) { padding-right: 0; }
              > div:nth-of-type(4) { padding-left: 0; padding-right: 0; }

              .modal-buttons {
                margin-top: 20px;
                button { margin: 0 2px 5px 0;  }

                .comment-photo {
                  background-color: $teal;
                  color: $white;
                }
                .comment-photo:hover {
                  background-color: darken($teal, 10%);
                }

                .voting-photo.is-liked {
                  background-color: lighten($primary, 15%);
                  color: $pastel-red;
                }
              }

              p { font-weight: 500; }
            }

            .photo-comment-form {
              padding: 0;
              display: none;

              .inner-fa  {
                color: $teal;
                position:           absolute;
                padding:            10px;
                pointer-events:     none;
                left:               15px;
              }

               textarea {
                padding-left:   30px;
                margin-bottom:  10px;
              }

              button {
                background-color: $teal;
                border-color: darken($teal, 5%);
              }

              button:hover { background-color: darken($teal, 10%); }
            }

            h3 {
              font-size: 14px;
              font-weight: 300;
                .fa {
                  cursor: pointer;
                  margin-left: 5px;
                  font-size: 20px;
                }
            }

            p {
              margin: 0;
              span { font-style: italic; }
            }

            input, textarea {
              margin: 0;
              outline: none;
              width: 100%;
              border: none;
              resize: none;
            }
            input { background-color: #f4f4f4; text-align: center; }
            textarea { background-color: #fff; }
        }
    }
}
