.photo-filter {
  .row {
    margin: 0 10px;
  }

  #filter-img {
    max-width: 100%;
    display: inline;
    float:left;
  }

  .filters {
    .slider {
      width: 100%;
    }
  }

  b {
    display: block;
    font-size: 12px;
    font-size: 2vw;
    font-weight: 200;
  }

  button {
    margin: 5px;
  }

  .btn-default {
    color: $white;
    font-weight: 400;
    background-color: $teal;
    border-color: darken($teal, 10%);
  }
  .btn-default:hover {
    background-color: darken($teal, 10%);
  }
}
