.photo-modal {
    .fullscreen {
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 20;
      top: 0;
    }

    .pop-window {
      display: none;
      position: absolute;
      margin-top: 40px;
      z-index: 25;
      background-color: $white;
      padding: 0;

        .pop-content {
          padding: 10px;
          position: relative;
          left: 50%;
          transform: translateX(-50%);

            .close-window {
              position: absolute;
              top: -45px;
              right: 0;
              font-size: 40px;
              font-weight: bold;
              line-height: 18px;
              color: #eee;
              text-shadow: 0 0 2px #000;
              text-decoration: none;
              cursor: pointer;
              z-index: 30;
            }

            .close-window:hover {
              color: #aaa;
              text-decoration: none;
            }

            .delete-photo {
              position: absolute;
              right: 10px;
              margin-top: 10px;
            }

            .row {
              min-height: 40px;
            }

            img {
              position: relative;
              left: 50%;
              transform: translateX(-50%);
              max-width: 100%;
            }

            h3 {
              font-size: 14px;
                .fa {
                  cursor: pointer;
                  margin-left: 5px;
                  font-size: 20px;
                }
            }

            p, a {
              margin-top: 15px;
              font-size: 20px;
            }

            input, textarea {
              padding: 0;
              margin: 0;
              background-color: rgba(255, 255, 255, 0.2);
              outline: none;
              background-color: $light-gray;
              width: 100%;
              border: none;
              resize: none;
            }
        }
    }
}
