.photo-filter {
  .row {
    margin: 0 10px;
  }

  #filter-img {
    max-width: 100%;
    display: inline;
  }

  .filters {
    display: inline;
  }

  b {
    display: block;
    font-size: 12px;
    font-size: 2vw;
    font-weight: 200;
  }

  button {
    width: 200px;
    margin: 5px;
  }

  .reset-filter {
    background-color: $teal;
    border-color: darken($teal, 10%);
  }
  .reset-filter:hover {
    background-color: darken($teal, 10%);
  }
}
