.fullscreen {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 20;
}

.pop-window {
  display: none;
  position: absolute;
  padding: 10px;
  left: 20%;
  width: 60%;
  top: 5%;
  background-color: #666;
  margin: 20px;
  z-index: 25;
}

.close-window {
  position: absolute;
  right: 10px;
  top: 10px;
  margin: 10px;
  font-size: 40px;
  font-weight: bold;
  line-height: 18px;
  color: #ddd;
  text-shadow: 0 0 2px #000;
  opacity: 0.8;
  filter: alpha(opacity=20);
  text-decoration: none;
  cursor: pointer;
  z-index: 30;
}
.close-window:hover {
  color: #aaa;
  text-decoration: none;
}

.pop-content {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.pop-content img {
  width: 100%;
}
