* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  background-color: $white;
  color: $black;
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  color: $black;
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline;
}

a:hover {
  color: $gray;
}

input {
  color: $black;
}

h1, h2 {
  color: $black;
  font-weight: 100;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
}

.root {
  margin-top: 70px;
  height: 100%;
}
