html {
  background-color: #2a2a2a;
  position: relative;
  width: 100%;
  height: 100%;
}

.picture {
  width: 0;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: all 700ms ease-out;
  -moz-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
}
