html {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  background-color: #2a2a2a;
  color: #e7e7e7;
  margin: 0;
  padding: 0;
}

a {
  color: #e7e7e7;
  font-size: 16px;
}

a:hover {
  color: #e7e7e7;
}

.picture {
  width: 0;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: all 700ms ease-out;
  -moz-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
}
