html {
  background-color: #2a2a2a;
  position: relative;
  width: 100%;
  height: 100%;
  color: #e7e7e7;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: #e7e7e7;
  font-size: 16px;
}

a:hover {
  font-weight: bold;
}

.picture {
  width: 0;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: all 700ms ease-out;
  -moz-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
}

.root {
  clear: both;
  margin: 10px;
}

.main-nav {
  padding: 0;
  margin: 0 0 20px 0;
  list-style: none;
  width: 100%;
  height: 50px;
  background-color: #666;
}

.logo {
  float: right;
  height: 36px;
  margin: 7px 7px 0 0;
}

.main-nav li {
  float: left;
  margin: 15px;
}
