* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  background-color: $white;
  color: $black;
  margin: 0;
  padding: 0;
  height: auto;

  .fullscreen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 20;
    top: 0;
  }
}

a {
  color: $black;
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline;
}

a:hover {
  color: $gray;
}

input {
  color: $black;
}

h1, h2 {
  color: $black;
  font-weight: 100;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
}

.root {
  margin-top: 70px;
  height: 100%;
}

.to-top {
  display: none;
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 10px;
  right: 10px;
  background-color: $teal;
  color: $white;
  text-align: center;
  font-size: 20px;
  z-index: 50;
  cursor: pointer;

  .fa { margin-top: 10px; }
}
.to-top:hover { background-color: darken($teal, 10%); }

#spinner-load {
  width: 16%;
  position: fixed;
  z-index: 1000;
  left: 42%;
  top: 45%;
  display: none;
}
