.border-shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0px 0px 100px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 100px 0 rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 100px 0 rgba(0,0,0,0.75);
}

.info-toggle {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 30px;
  z-index: 20;
  color: $white;
  cursor: pointer;
  -webkit-animation: size_toggle 0.6s infinite alternate ease-out;
  -moz-animation: size_toggle 0.6s infinite alternate ease-out;
  -ms-animation: size_toggle 0.6s infinite alternate ease-out;
  -o-animation: size_toggle 0.6s infinite alternate ease-out;
  animation: size_toggle 0.6s infinite alternate ease-out;

  @-webkit-keyframes size_toggle {
   from {  -webkit-transform: scale(1.0);
           -moz-transform:    scale(1.0);
           -ms-transform:     scale(1.0);
           -o-transform:      scale(1.0);
           transform:         scale(1.0); }
   to {    -webkit-transform: scale(1.2);
           -moz-transform:    scale(1.2);
           -ms-transform:     scale(1.2);
           -o-transform:      scale(1.2);
           transform:         scale(1.2); }
  }
  @-moz-keyframes size_toggle {
    from {  -webkit-transform: scale(1.0);
            -moz-transform:    scale(1.0);
            -ms-transform:     scale(1.0);
            -o-transform:      scale(1.0);
            transform:         scale(1.0); }
    to {    -webkit-transform: scale(1.2);
            -moz-transform:    scale(1.2);
            -ms-transform:     scale(1.2);
            -o-transform:      scale(1.2);
            transform:         scale(1.2); }
  }
  @-ms-keyframes size_toggle {
    from {  -webkit-transform: scale(1.0);
            -moz-transform:    scale(1.0);
            -ms-transform:     scale(1.0);
            -o-transform:      scale(1.0);
            transform:         scale(1.0); }
    to {    -webkit-transform: scale(1.2);
            -moz-transform:    scale(1.2);
            -ms-transform:     scale(1.2);
            -o-transform:      scale(1.2);
            transform:         scale(1.2); }
  }
  @-o-keyframes size_toggle {
    from {  -webkit-transform: scale(1.0);
            -moz-transform:    scale(1.0);
            -ms-transform:     scale(1.0);
            -o-transform:      scale(1.0);
            transform:         scale(1.0); }
    to {    -webkit-transform: scale(1.2);
            -moz-transform:    scale(1.2);
            -ms-transform:     scale(1.2);
            -o-transform:      scale(1.2);
            transform:         scale(1.2); }
  }
  @keyframes size_toggle {
    from {  -webkit-transform: scale(1.0);
            -moz-transform:    scale(1.0);
            -ms-transform:     scale(1.0);
            -o-transform:      scale(1.0);
            transform:         scale(1.0); }
    to {    -webkit-transform: scale(1.2);
            -moz-transform:    scale(1.2);
            -ms-transform:     scale(1.2);
            -o-transform:      scale(1.2);
            transform:         scale(1.2); }
  }
}
.info-toggle:hover {
  color: $light-gray;
}

.info-panel {
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 20;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translate3d(0, -520px, 0) perspective(600px);
  -moz-transform:    translateX(-50%) translate3d(0, -520px, 0) perspective(600px);
  -ms-transform:     translateX(-50%) translate3d(0, -520px, 0) perspective(600px);
  -o-transform:      translateX(-50%) translate3d(0, -520px, 0) perspective(600px);
  transform:         translateX(-50%) translate3d(0, -520px, 0) perspective(600px);
  width: 620px;
  height: 520px;
  padding: 30px;
  -webkit-transition: all 1.0s ease-out;
     -moz-transition: all 1.0s ease-out;
       -o-transition: all 1.0s ease-out;
          transition: all 1.0s ease-out;

  button {
    position: absolute;
    top: 5px;
    right: 10px;
  }

  p {
    text-align: justify;
    font-weight: 300;
  }

  a { font-weight: 400; }

  .all-logos {
    .logo-wrap {
      display: inline;
      height: 100px;
      width: 130px;
      margin: 10px 20px;

      img {
        height: 100px;
        margin-top: 20px;
      }
    }
    .logo-wrap:nth-of-type(5) { margin-left: 100px;}
  }

  h3 {
    margin-top: 30px;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    a { font-size: 14px; }
  }
}

.session-window {
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);;
  width: 500px;
  padding: 10px;
  padding-top: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform:    translateX(-50%) translateY(-50%);
  -ms-transform:     translateX(-50%) translateY(-50%);
  -o-transform:      translateX(-50%) translateY(-50%);
  transform:         translateX(-50%) translateY(-50%);
  -webkit-box-shadow: 0px 0px 55px 10px rgba(0,0,0,0.75);
  -moz-box-shadow:    0px 0px 55px 10px rgba(0,0,0,0.75);
  box-shadow:         0px 0px 55px 10px rgba(0,0,0,0.75);

  .session-logo {
    position: absolute;
    width: 80px;
    left: 210px;
    top: -40px;
    height: auto;
    border: 1px solid darken($dark-blue, 10%);
    display: none;
  }

  button {
    margin-left: 5%;
    width: 90%;
  }

  .sign-in {
    display: none;
    color: #337ab7;

    button {
      background-color: $dark-blue;
      border-color: darken($dark-blue, 10%);
    }

    button:hover {
      background-color: lighten($dark-blue, 10%);
    }
  }

  .new-user {
    display: none;
    color: #333;
  }

  .unhide {
    display: block;
  }

  h1 {
    text-align: center;
    color: #ddd;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
  }

  .form-group     {   position:           relative;
                      padding:            0; }
  .form-group div {   padding:            0;}
  .form-group div > .fa {
                      position:           absolute;
                      padding:            10px;
                      pointer-events:     none;
                      left:               0px;}
  .form-group input    {  margin-bottom:  10px;
                          padding-left:   30px; }
  form div:nth-child(1){  padding-right:  10px;}
  .form-group textarea {  padding-left:   30px;
                          margin-bottom:  10px; }

  .errors {
    position: absolute;
    top: -65px;
    left: 50%;
    width: 500px;
    -webkit-transform: translateX(-50%);
    -moz-transform:    translateX(-50%);
    -ms-transform:     translateX(-50%);
    -o-transform:      translateX(-50%);
    transform:         translateX(-50%);
    text-align: center;
    font-size: 16px;
    border: none;
    background-color: rgba(235, 204, 209, 0.8);

    button {
      max-width: 10px;
      position: absolute;
      right: 20px;
      top: 15px;
    }
  }
}

#session-photos {
  overflow: hidden;
  clear: both;
  z-index: 1;
  background-color: #000;
  opacity: 0.0;
  -webkit-transition: all 2s ease;
     -moz-transition: all 2s ease;
       -o-transition: all 2s ease;
          transition: all 2s ease;

  .photo-item {
    float: left;
    overflow: hidden;
   }

  img {
    display: block;
    max-width: 100%;
    -webkit-filter: blur(2px);
    filter:         blur(2px);
    opacity: 0.8;
    -webkit-transition: all 5s ease-in-out;
       -moz-transition: all 5s ease-in-out;
         -o-transition: all 5s ease-in-out;
            transition: all 5s ease-in-out;
  }

  .photo-sizer, .photo-item { width: 25%; }

  @media screen and (min-width: 600px) {
    .photo-sizer, .photo-item { width: 20%; }
  }

  @media screen and (min-width: 1000px) {
    .photo-item, .photo-sizer { width: 12.5%; }
  }
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
