.session-window {
  z-index: 10;
  background-color: #999;
  width: 500px;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  h1 {
    text-align: center;
  }
}

#session-photos {
  overflow: hidden;
  clear: both;
  z-index: 1;

  .photo-item {
    float: left;
   }

  img {
    display: block;
    max-width: 100%;
  }

  .photo-item, .photo-sizer { width: 12.5%; }
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
