.session-window {
  background-color: #999;
  width: 500px;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  h1 {
    text-align: center;
  }
}

.session-photos {
  overflow: hidden;

  img {
    margin: 5px;
    display: block;
  }
}
