.border-shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0px 0px 100px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 100px 0 rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 100px 0 rgba(0,0,0,0.75);
}

.session-window {
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);;
  width: 500px;
  padding: 10px;
  padding-top: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform:    translateX(-50%) translateY(-50%);
  -ms-transform:     translateX(-50%) translateY(-50%);
  -o-transform:      translateX(-50%) translateY(-50%);
  transform:         translateX(-50%) translateY(-50%);
  -webkit-box-shadow: 0px 0px 55px 10px rgba(0,0,0,0.75);
  -moz-box-shadow:    0px 0px 55px 10px rgba(0,0,0,0.75);
  box-shadow:         0px 0px 55px 10px rgba(0,0,0,0.75);

  .session-logo {
    position: absolute;
    width: 80px;
    left: 210px;
    top: -40px;
    height: auto;
    border: 1px solid darken($dark-blue, 10%);
  }

  button {
    margin-left: 5%;
    width: 90%;
  }

  .sign-in {
    display: none;
    color: #337ab7;

    button {
      background-color: $dark-blue;
      border-color: darken($dark-blue, 10%);
    }

    button:hover {
      background-color: lighten($dark-blue, 10%);
    }
  }

  .new-user {
    display: none;
    color: #333;
  }

  .unhide {
    display: block;
  }

  h1 {
    text-align: center;
    color: #ddd;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
  }

  .form-group     {   position:           relative;
                      padding:            0; }
  .form-group div {   padding:            0;}
  .form-group div > .fa {
                      position:           absolute;
                      padding:            10px;
                      pointer-events:     none;
                      left:               0px;}
  .form-group input    {  margin-bottom:  10px;
                          padding-left:   30px; }
  form div:nth-child(1){  padding-right:  10px;}
  .form-group textarea {  padding-left:   30px;
                          margin-bottom:  10px; }

  .errors {
    position: absolute;
    top: -65px;
    left: 50%;
    width: 500px;
    -webkit-transform: translateX(-50%);
    -moz-transform:    translateX(-50%);
    -ms-transform:     translateX(-50%);
    -o-transform:      translateX(-50%);
    transform:         translateX(-50%);
    text-align: center;
    font-size: 16px;
    border: none;
    background-color: rgba(235, 204, 209, 0.8);

    button {
      max-width: 10px;
      position: absolute;
      right: 20px;
      top: 15px;
    }
  }
}

#session-photos {
  overflow: hidden;
  clear: both;
  z-index: 1;
  background-color: #000;

  .photo-item {
    float: left;
   }

  img {
    display: block;
    max-width: 100%;
    -webkit-filter: blur(2px);
    filter:         blur(2px);
    opacity: 0.8;
  }

  .photo-sizer, .photo-item { width: 25%; }

  @media screen and (min-width: 600px) {
    .photo-sizer, .photo-item { width: 20%; }
  }

  @media screen and (min-width: 1000px) {
    .photo-item, .photo-sizer { width: 12.5%; }
  }
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
