.user-show {
  .user-info {
    background-color: #fff;
    width: 360px;
    padding: 15px 10px 15px 0;
    margin-bottom: 20px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform:    translateX(-50%);
    -ms-transform:     translateX(-50%);
    -o-transform:      translateX(-50%);
    transform:         translateX(-50%);
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border: 0px solid #000000;
    -webkit-box-shadow: 5px 5px 20px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 20px -15px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 20px -15px rgba(0,0,0,0.75);

    .portrait {
      width: 130px;
      height: 130px;
      float: left;
      margin: -25px 20px 20px -30px;
      border: 10px solid $white;
    }

    .portrait-change {
      cursor: pointer;
    }

    h1 {
      font-size: 28px;
      max-width: 100%;
      overflow: hidden;
      margin: 0;
      padding: 10px 0;
    }

    p {
      font-weight: 200;
      font-style: italic;
      font-size: 12px;
      span {
        margin-left: 10px;
        font-size: 14px;
        font-style: normal;
      }
    }
  }

  .user-main {
    background-color: #fff;
  }

  .user-tabs {
    background-color: $white;
    margin-bottom: 20px;

    li:not(.active) {
      background-color: $white;
      :hover { background-color: #fcfcfc; }
    }

    a {
      text-decoration: none;
      font-weight: 300;

      :hover{
        color: $gray;
      }
    }

    .fa {
      margin-right: 5px;
      color: darken($primary, 5%);
    }
  }

  .tab-content {
    .tab-panel {
      background-color: $white;
      height: auto;
    }

    .panel-heading {
      color: $white;
      background-color: lighten($teal, 10%);

      a { color: $white; }
    }
  }

  .carousel-control {
    display: none;
  }
}
