.user-show {
  min-height: 100%;
  height: auto;

  .username {
    text-align: center;
  }

  .user-main {
    background-color: #fff;
    height: 100%;
  }

  .user-tabs {
    li:not(.active) {
      background-color: $white;
      :hover { background-color: #fcfcfc; }
    }

    a {
      text-decoration: none;
      font-weight: 300;

      :hover{
        color: $gray;
      }
    }

    .fa {
      margin-right: 5px;
      color: darken($primary, 5%);
    }
  }
}
