.fullscreen {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.pop-window {
  display: none;
  position: absolute;
  left: 25%;
  width: 50%;
  top: 25%;
  height: 50%;
  background-color: #666;
}

.close-window {
  float: right;
  margin: 10px;
  font-size: 40px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ddd;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration: none;
  cursor: pointer;
}
.close-window:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
